.words-short {
    display: block;
    padding: 30px;
    line-height: 65px
}

.words-normal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 1.5rem;
    align-items: center;
    padding: 2rem;
    max-width: 960px;
    margin: 0 auto;
}