nav {
  border-bottom: 1px solid #ABABAB;
}

.navList {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 320px;
  margin: 25px auto;
  text-transform: uppercase;
  font-weight: 700;
}

.link {
  color: #ABABAB;
  text-decoration: none;
}

.active {
  color: #000;
}
