.group {
  display: flex;
  justify-content: center;
  padding: 36px 20px 0px;
}

.subgroup {
  width: 290px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.phonemSection {
  display: flex;
  flex-direction: column;
}

.title {
  text-transform: capitalize;
  font-weight: 600;
}

.phonemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.phonemList.consonants {
  width: 290px;
}

.phonemList.vowels {
  padding-bottom: 36px;
}

.pair {
  display: flex;
  flex-direction: column;
  padding: 21px;
}

.phonem {
  padding-bottom: 8px;
  font-weight: bold;
}