.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Search */

.b-search {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.b-search__wrapper {
  border: 1px solid #410677;
  border-radius: 3px;
  display: flex;
  padding: 5px;
}

.b-search__input {
  border: none;
  font-size: 1.3em;
}

.b-search__cancel {
  display: flex;
  align-items: center;
  width: 29px;
  stroke: white;
  stroke-width: 4px;
  cursor: pointer;
}

.starting-word {
  width: 80px;
  font-size: 1.1em;
  border: none;
  margin-left: 6px;
  font-weight: 500;
  box-sizing: border-box;
}

.starting-word-section p {
  display: inline-block;
}

button {
  cursor: pointer;
}
